include AUTHORS
include LICENSE
include README.md
include bootstrap_italia_template/static/assets/*.svg
include bootstrap_italia_template/static/css/bootstrap-italia.min.css
include bootstrap_italia_template/static/css/bootstrap-italia.min.css.map
include bootstrap_italia_template/static/fonts/Lora/*
include bootstrap_italia_template/static/fonts/Roboto_Mono/*
include bootstrap_italia_template/static/fonts/Titillium_Web/*
include bootstrap_italia_template/static/images/svg/*.svg
include bootstrap_italia_template/static/js/bootstrap-italia.bundle.min.js
include bootstrap_italia_template/static/js/bootstrap-italia.bundle.min.js.map
include bootstrap_italia_template/static/js/bootstrap-italia.min.js
include bootstrap_italia_template/static/js/bootstrap-italia.min.js.map
include bootstrap_italia_template/static/svg/sprite.svg
include bootstrap_italia_template/templates/bootstrap-italia-base.html
include bootstrap_italia_template/templates/widgets/*
