include AUTHORS
include LICENSE
include README.md
include bootstrap_italia_template/static/assets/*.svg
include bootstrap_italia_template/static/css/*
include bootstrap_italia_template/static/css/vendor/*
include bootstrap_italia_template/static/fonts/Lora/*
include bootstrap_italia_template/static/fonts/Roboto_Mono/*
include bootstrap_italia_template/static/fonts/Titillium_Web/*
include bootstrap_italia_template/static/images/*
include bootstrap_italia_template/static/js/*
include bootstrap_italia_template/static/js/vendor/*
include bootstrap_italia_template/static/svg/sprite.svg
include bootstrap_italia_template/templates/*
include bootstrap_italia_template/templates/widgets/*
include bootstrap_italia_template/templatetags/*
